/* Styles for the header */
header {
   
    width: 25%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 900px;
    margin-top: 50px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background:  linear-gradient(to bottom, #1a237e, #0d47a1); ;
    
}

/* Styles for the heading */
h1 {
    color: #eee9e9; /* White text */
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    text-align: center;
   
    padding: 0.7vh 0; /* Adjusted padding for better alignment */
}
