/* ListOfResult.css */

.results {
    margin: 20px auto;
    padding: 20px;
    border: 2px solid #3498db;
    border-radius: 10px;
    background: linear-gradient(to bottom, #1a237e, #0d47a1);  
      width: 70%;
  }
  
  .title_results {
    font-size: 24px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
  }
  
  .table_results {
    width: 100%;
    border-collapse: collapse;
color: azure;
  }
  
  .table_results th,
  .table_results td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center; /* Center align the text */
    font-size: 25px;
    
  }
  
  .table_results th {
    background-color: linear-gradient(to bottom, #1a237e, #0d47a1); 
    color: white;
  }
  
  .modify_results,
  .delete_results {
    padding: 10px;
    margin: 5px;
    background-color: #dace6f;
    color: rgb(27, 26, 26);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    width: 100px;
  }
  
  .modify_results:hover,
  .delete_results:hover {
    background-color: #d35400;
  }
  